<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="./static/main.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-firestore.js"></script>

</head>
<body id="body2">
    <div id="vue-detail">
        <div class="list">
            <div class="item1"><a href ="{{url_for('visualization')}}" class="span_selected">Visualization</a></div>
            <div class="item2"><a href ="{{url_for('detail')}}" class="span_list">Details</a></div>
            <div class="item3"><a href ="{{url_for('testing')}}" class="span_list">Testing</a></div>
        </div>

        <div class="details">
            <div v-on:click="list1_available= !list1_available" v-bind:class="{list1_available:list1_available}"  class="dropdown1">
                <label class="item_list">Sentiment</label>
                
            </div>
            <form class="dropdown_list" v-if="list1_available" role="form" method="post">
                <input type="checkbox" name="pos" value="positive" v-model="checkbox_s">
                <label>Positive</label><br>
                <input type="checkbox" name="neg" value="negative" v-model="checkbox_s">
                <label>Negative</label><br>
                <input type="checkbox" name="neu" value="neutral" v-model="checkbox_s">
                <label>Neutral</label><br>
                <div></div>
                <input type="checkbox" name="a1" value="a1" v-model="checkbox_a"/>
                <label>Aspect1</label><br>
                <input type="checkbox" name="a2" value="a2" v-model="checkbox_a"/>
                <label>Aspect2</label><br>
                <input type="checkbox" name="a3" value="a3" v-model="checkbox_a"/>
                <label>Aspect3</label><br>
                <input type="checkbox" name="a4" value="a4" v-model="checkbox_a"/>
                <label>Aspect4</label><br>
                <input type="checkbox" name="no" :value="no" v-model="checkbox_a"/>
                <label>NoAspect</label><br>
                <button type="submit" name="submit" value="submit">Submit</button>
                
            </form>
            
            <!-- <form class="dropdown_list" v-if="list1_available">
                <input type="checkbox" value="positive" v-model="checkbox_s">
                <label>Positive</label><br>
                <input type="checkbox" value="negative" v-model="checkbox_s">
                <label>Negative</label><br>
                <input type="checkbox" value="neutral" v-model="checkbox_s">
                <label>Neutral</label><br>
                
            </form> -->

            <div v-on:click="list2_available= !list2_available" v-bind:class="{list2_available:list2_available}" class="dropdown2">
                <label class="item_list">Aspect</label>

            </div>
            <form class="dropdown_list" v-if="list2_available" method="post">
                
            </form>

            <div class="info">
                <div class="wrap-table100" >
                    <div class="table100">
                        <div id="outer-container" class="outer-container">
                            <div id="inner-container" class="inner-container">
                                <table >
                                    <thead>
                                        <div>
                                            <tr class="table100-head">
                                            <th class="column1">Aspect</th>
                                                <th class="column2">Sentence</th>  
                                                <th class="column3">Overall</th>      
                                            </tr>
                                        </div>
                                    </thead>
                                
                                    <tbody>
                                    {% for item in details_array %}
                                        
                                        {% if check_sentiment(checkbox_s,item.overall) and aspect_IS_null(item.a1,item.a2,item.a3,item.a4) and contains_aspect(checkbox_a) %}   
                                        <tr>  
                                            <td class="column1" >{{ item.a1 }} {{ item.a2 }} {{ item.a3 }} {{ item.a4 }}</td>
                                            <td class="column2" >{{ item.sentence }}</td>
                                            <td class="column3" >{{ item.overall }}</td>
                                            
                                        </tr>

                                        <tr>
                                            {% elif (check_sentiment(checkbox_s,item.overall)) and not (aspect_IS_null(item.a1,item.a2,item.a3,item.a4)) and (check_aspect(checkbox_a,item.a1,item.a2,item.a3,item.a4)) %}    
                                            <td class="column1" >
                                                {% if item.a1 == "positive" %}
                                                <img style="width: 8%;height: 30%;" src="./static/img/w1.png"></img>
                                                {% elif item.a1 == "negative" %}
                                                <img style="width: 8%;height: 30%;" src="./static/img/b1.png"></img>
                                                {% elif item.a1 == "neutral" %}
                                                <img style="width: 8%;height: 30%;" src="./static/img/g1.png"></img>
                                                {% endif %}
                                                {% if item.a2 == "positive" %} 
                                                <img style="width: 8%;height: 30%;" src="./static/img/w2.png"></img>
                                                {% elif item.a2 == "negative" %} 
                                                <img style="width: 8%;height: 30%;" src="./static/img/b2.png"></img>
                                                {% elif item.a2 == "neutral" %} 
                                                <img style="width: 8%;height: 30%;" src="./static/img/g2.png"></img>
                                                {% endif %}
                                                {% if item.a3 == "positive" %} 
                                                <img style="width: 8%;height: 30%;" src="./static/img/w3.png"></img>
                                                {% elif item.a3 == "negative" %} 
                                                <img style="width: 8%;height: 30%;" src="./static/img/b3.png"></img>
                                                {% elif item.a3 == "neutral" %} 
                                                <img style="width: 8%;height: 30%;" src="./static/img/g3.png"></img>
                                                {% endif %}
                                                {% if item.a4 == "positive" %} 
                                                <img style="width: 8%;height: 30%;" src="./static/img/w4.png"></img>
                                                {% elif item.a4 == "negative" %} 
                                                <img style="width: 8%;height: 30%;" src="./static/img/b4.png"></img>
                                                {% elif item.a4 == "positive" %} 
                                                <img style="width: 8%;height: 30%;" src="./static/img/g4.png"></img>
                                                {% endif %}
                                            </td>
                                            <td class="column2" >{{ item.sentence }}</td>
                                            <td class="column3" >{{ item.overall }}</td>
                                        {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <span class="intro">Red-Negative</span>
            <span class="intro">Green-Positive</span>
            <span class="intro">Yellow-Neutral</span> -->
            <!-- {{checkbox_a}} -->
        </div>
    
    </div>
    <script src="./static/detail.js"></script>

</body>
</html>