<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
    <link rel="stylesheet" href="./static/main.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Donegal+One&family=Fjalla+One&family=Kenia&family=Modak&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.js"></script>
</head>
<body id="body2">
    <div id="vue-testing">
        <div class="list">
            <div class="item1"><a href ="{{url_for('visualization')}}" class="span_list">Visualization</a></div>
            <div class="item2"><a href ="{{url_for('detail')}}" class="span_list">Details</a></div>
            <div class="item3"><a href ="{{url_for('testing')}}" class="span_selected">Testing</a></div>
        </div>

        <div class="boxes">
            <form action="/testing"  method='POST'>
                <div class="box2">
                    
                    <input class="input" type="text" name = "sentence1" id = "sentence1"></input><br>
                    <input class="input" type="text" name = "sentence2" id = "sentence2"></input><br>
                    <input class="input" type="text" name = "sentence3" id = "sentence3"></input><br>
                    <input class="input" type="text" name = "sentence4" id = "sentence4"></input><br>
                    <input class="input" type="text" name = "sentence5" id = "sentence5"></input><br>
                </div>
                <div class="button2">
                <input type="submit" value="submit" id = "submit" name="submit"></input>   
            </div>         
            </form>
            
            <div class="box3" v-if="visual_tf">
                <!-- {{visual_tf}} -->
                <div class="charts">
                    <canvas id="myChart_overall" style="height:30vh; width:10vw">
                    </canvas>
                </div>

                <div class="charts">
                    <canvas id="myChart1" style="height:30vh; width:10vw">
                    </canvas>
                </div>

                <div class="charts">
                    <canvas id="myChart2" style="height:30vh; width:10vw">
                    </canvas>
                </div>

                <div class="charts">
                    <canvas id="myChart3" style="height:30vh; width:10vw">
                    </canvas>
                </div>

                <div class="charts">
                    <canvas id="myChart4" style="height:30vh; width:10vw">
                    </canvas>
                </div>
            </div>

            <div class="box4">

            </div>

        </div>
    </div>
    <script src="./static/testing.js"></script>
    <!-- <script>
        (function () {
            'use strict';
            var type = 'bar';
            
            var data = {
                labels: ['Overall','Aspect1','Aspect2','Aspect3','Aspect4'],
                datasets: [
                    {
                        label: 'Negative',
                        data: [100, 200, 400, 800, 1600],
                        borderColor: 'red',
                        borderWidth: 1,
                        // fill: true,
                        // backgroundColor: 'rgba(128,0,0,0)',
                        pointStyle: 'rect', //circle, cross, crossRot, dash, line, rect, rectRounded, rectRot, star, triangle
                        pointRadius: 2,
                    },
                    {
                        label: 'Positive',
                        data: [50, 100, 200, 400, 600],
                        borderColor: 'green',
                        borderWidth: 1,
                        // fill: true,
                        // backgroundColor: 'rgba(0,128,0,0)',
                        pointStyle: 'triangle',
                        pointRadius: 2,
                    },

                    {
                        label: 'Neutral',
                        data: [100, 200, 400, 800, 1600],
                        borderColor: 'yellow',
                        borderWidth: 1,
                        // fill: true,
                        // backgroundColor: 'rgba(128,0,0,0)',
                        pointStyle: 'circle', //circle, cross, crossRot, dash, line, rect, rectRounded, rectRot, star, triangle
                        pointRadius: 2,
                    },
                ]
            };

            var ctx = document.getElementById('myChartzz').getContext('2d');
            var chart = new Chart(ctx, {
                type: type,
                data: data,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: 2000,
                                // stepSize: 400,
                            }
                        }]
                    },

                    title: {
                        display: true,
                        text: 'Profile',
                        fontColor: 'blue',
                        fontSize: '20',
                        position:'top'
                    },
                    // legend:{
                    //     position:'right',
                    //     display:true
                    // }
                }
            });
        })();
    </script> -->
    
</body>
</html>